<app-navbar></app-navbar>

<div class="body">
<div class="container col-xxl-11">
<div>
          
  <a class="mx-4" type="submit" routerLink="/home">Accueil</a>
  /
  <a class="my-4" type="submit" routerLink="/utilisation">Conditions Générales d'utilisation</a>
    
</div>
</div> 

<div class="container col-xxl-11 px-5 p- text-center">

  <h1>Conditions générales d'utilisation du site « THE TIP TOP »</h1>

  <h2>ARTICLE 1 : Objet</h2>
  <p>Les présentes « Conditions Générales d'Utilisation » ont pour objet d'encadrer juridiquement l'utilisation du site www.thetiptop.life et de ses services.</p>
  <p>Ce contrat est conclu entre : L'exploitant de ce site Web (ci-après dénommé "WebAgency")
    Toute personne physique ou morale souhaitant accéder au site et à ses services (ci-après dénommée « The Tip Top »). 
    Chaque utilisateur doit accepter les Conditions Générales d'Utilisation et l'accès au site vaut acceptation de ces conditions.</p>

  <h2>ARTICLE 2 : accès aux services</h2>
  <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
  <p>En cas de modification, interruption ou suspension des services le site https://thetiptop.com/ ne saurait être tenu responsable.</p>

  
  <h2>ARTICLE 3 :  Responsabilité de l’Utilisateur</h2>
  <p>Vous êtes responsable de tous les risques liés à l'utilisation de votre intendant de connexion et de votre mot de passe.</p>
  
  <p>Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site.
  Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</p>
  <p>Les mots de passe des utilisateurs doivent rester secrets. L'émetteur décline toute responsabilité en cas de fuite du mot de passe.</p>
  <p>L'utilisateur assume l'entière responsabilité de l'utilisation des informations et du contenu du site www.thetiptop.life.</p>
  <p>Tout dommage direct ou indirect causé par l'utilisation du service par l'utilisateur doit être indemnisé en faveur du site.</p>

  <h2>ARTICLE 4 : Responsabilité de l’Éditeur</h2>
  <p>L'éditeur n'est pas responsable des interruptions de serveur ou de réseau.
    De même, la responsabilité du site ne saurait être engagée en cas de force majeure ou de fait imprévisible et insurmontable 
    de tiers. Le site www.thetiptop.life s'engage à prendre toutes les mesures nécessaires pour assurer la sécurité et 
    la conﬁdentialité des données. Cependant, cela ne garantit pas une sécurité absolue. Les informations diffusées sur 
    le Site sont réputées ﬁables, mais l'Éditeur se réserve le droit de ne garantir la ﬁabilité d'aucune source.</p>
  <p>Le membre s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification.
  En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.
  L’éditeur s'engage toutefois à citer le membre en cas d’utilisation de sa publication.</p>

  <h2>ARTICLE 5 :  Propriété intellectuelle</h2>
  <p>Le contenu du site www.thetiptop.life (logos, textes, graphismes, vidéos, etc.) est protégé par le droit 
    d'auteur au titre du droit de la propriété intellectuelle. Les utilisateurs doivent obtenir l'autorisation 
    de l'éditeur du site avant de copier, reproduire ou publier l'un de ces types de contenus. Ceux-ci peuvent 
    être utilisés par l'utilisateur à des ﬁns privées. Toute utilisation commerciale est interdite. L'utilisateur 
    s'engage à assumer l'entière responsabilité de tout contenu mis en ligne et à ne pas causer de dommages à des 
    tiers. L'éditeur du site se réserve le droit de modérer ou de supprimer à tout moment et sans justifications 
    les contenus mis en ligne par les utilisateurs.</p>

  <h2>ARTICLE 6 : Propriété intellectuelle</h2>
  <p>Les contenus du site www.atypikhouse.fr (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.</p>
   <p>L’utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou
    publication de ces différents contenus.</p>
   <p>Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial
    est interdit.</p>
    <p>L’utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne
    pas porter atteinte à un tiers.
    L’éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les
    contenus mis en ligne par les utilisateurs, et ce sans justification.
    </p> 

    <h2>ARTICLE 7 : Données personnelles</h2>
  <p>L’utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.
  L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site www.atypikhouse.fr pour la communication d’informations diverses et la gestion du compte.
  www.atypikhouse.fr garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
  Le site est déclaré auprès de la CNIL sous le numéro suivant : [numéro].
  En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles.</p>
  <p>L'utilisateur exerce ce droit via :</p>
  

  <h2>ARTICLE 6 : Données personnelles</h2>
  <p>L’utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur 
    le site. L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site 
    www.thetiptop.life pour la communication d’informations diverses et la gestion du compte.</p>
  <p>www.thetiptop.life garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 
    6 janvier 1978 relative à l'informatique, aux ﬁchiers et aux libertés. Le site est déclaré auprès de la CNIL 
    sous le numéro suivant : [numéro]. En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, 
    l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données 
    personnelles. L'utilisateur exerce ce droit via :</p>
    <ul>
      <li>Son espace personnel sur le site ; Un formulaire de contact ;</li>
      <li>Par mail à contact@thetiptop.fr;</li>
      <li>Par appel au numéro : 01 05 01 67 01</li>
  </ul>

  <h2>ARTICLE 7 : Cookies</h2>
  <p>L'utilisateur est informé que des cookies peuvent s'installer automatiquement dans son logiciel de navigation 
    lors de sa visite sur le Site. En naviguant sur le site, vous les acceptez. Les cookies ne permettent pas de 
    vous identifier, mais sont des éléments permettant d'enregistrer des informations relatives à votre visite 
    sur le site. L'utilisateur peut désactiver ce cookie via les paramètres aﬃchés dans le logiciel de navigation.</p>

  <h2>ARTICLE 8 : Évolution des conditions générales d’utilisation</h2>
  <p>Le site www.thetiptop.live se réserve le droit de modiﬁer les dispositions des présentes Conditions Générales 
    d'Utilisation à tout moment et sans indication de motifs.</p>

  <h2>ARTICLE 9 : Durée du contrat</h2>
  <p>Le site www.thetiptop.live se réserve le droit de modiﬁer les dispositions des présentes Conditions Générales d'Utilisation à tout moment et sans indication de motifs.</p>

  <h2>ARTICLE 10 : Droit applicable et juridiction compétente</h2>
  <p>Le présent contrat dépend de la législation française.</p>
  <p>En cas de litige non résolu à l’amiable entre l'utilisateur et l'éditeur, les tribunaux de Paris sont compétents pour régler le contentieux.</p>
 <br/> <br/>
  
</div>

</div>


<app-footer></app-footer>