<!-- <app-navbar></app-navbar>
<div class="container">
  <p>inscription works!</p>
</div> -->


<div class="row align-items-center justify-content-center">
  <div class="col-md-8 col-lg-6">
      <div class="col-xl-11 p-5">
          <div class="card">
              <div class="card-body p-4">
                  <div class="text-center">
                      <a routerLink="/" class="">
                          <img src="" class="logoSize" alt="">
                      </a>
                  </div>
                  <div class="text-center mt-2">
                      <h1 class="text-primary">Prêt à nous réjoindre ?</h1>
                      <p class="text-muted">Créer un compte</p>
                  </div>
                  <div class="p-2 mt-4">
                      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                          <div class="row">

                              <div class="col-lg-6">
                                  <div class="form-floating mb-3">
                                    <input  type="text" formControlName="nom" name="nom"   class="form-control" placeholder="Nom">
                                    <label for="floatingnameInput">Nom</label>
                                </div>
                                      <!-- MESSAGE D'ERREUR NOM -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.nom">
                              <p class="text-danger" *ngIf="registerForm.controls['nom'].hasError(error.type) && (registerForm.controls['nom'].dirty || registerForm.controls['nom'].touched)">
                                  {{error.message}}
                              </p>
                          </small>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-floating mb-3">
                                  <input  type="text" formControlName="prenom"  name="prenom" uired class="form-control" placeholder="Prenom">
                                  <label for="floatingnameInput">Prénom</label>
                              </div>
                                 <!-- MESSAGE D'ERREUR PRENOM -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.prenom">
                              <p class="text-danger" *ngIf="registerForm.controls['prenom'].hasError(error.type) && (registerForm.controls['prenom'].dirty || registerForm.controls['prenom'].touched)">
                                  {{error.message}}
                              </p>
                          </small>
                              </div>
                          </div>

                          <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input  type="email" formControlName="email" name="myAddress" required class="form-control" placeholder="Email Address">
                                <label for="floatingnameInput">Email Address</label>
                            </div>
                            <!-- MESSAGE D'ERREUR EMAIL -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.email">
                              <p class="text-danger" *ngIf="registerForm.controls['email'].hasError(error.type) && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                                  {{error.message}}
                              </p>
                          </small>
                        </div>

                        <div class="mb-3">
                          <div class="form-floating mb-3">
                              <input  type="text" formControlName="tel" name="tel" required class="form-control">
                              <label for="floatingnameInput">Telephone</label>
                          </div>
                          <!-- MESSAGE D'ERREUR EMAIL -->
                          <small class="form-text text-muted" *ngFor="let error of error_messages.tel">
                            <p class="text-danger" *ngIf="registerForm.controls['tel'].hasError(error.type) && (registerForm.controls['tel'].dirty || registerForm.controls['tel'].touched)">
                                {{error.message}}
                            </p>
                        </small>
                      </div>



                        <div class="mb-3">
                          <div class="form-floating mb-3">
                              <input  type="text" formControlName="adresse" name="adresse" required class="form-control" placeholder="Email adresse">
                              <label for="floatingnameInput">adresse</label>
                          </div>
                          <!-- MESSAGE D'ERREUR ADRESS -->
                          <small class="form-text text-muted" *ngFor="let error of error_messages.adresse">
                            <p class="text-danger" *ngIf="registerForm.controls['adresse'].hasError(error.type) && (registerForm.controls['adresse'].dirty || registerForm.controls['adresse'].touched)">
                                {{error.message}}
                            </p>
                        </small>
                      </div>

                        <div class="mb-3">
                          <div class="form-floating mb-3">
                              <input type="password" formControlName="pwd"  name="pwd" class="form-control" placeholder="Password">
                              <label for="floatingnameInput">Password</label>
                              <p  class="text-danger"></p>
                          </div>
                          <!-- MESSAGE D'ERREUR Password -->
                          <small class="form-text text-muted" *ngFor="let error of error_messages.pwd">
                            <p class="text-danger" *ngIf="registerForm.controls['pwd'].hasError(error.type) && (registerForm.controls['pwd'].dirty || registerForm.controls['pwd'].touched)">
                                {{error.message}}
                            </p>
                        </small>

                      </div>

                      <div class="mb-3">
                        <div class="form-floating mb-3">
                            <input type="password" formControlName="confPwd"  name="confpwd" class="form-control" placeholder="Confirmez password">
                            <label for="floatingnameInput">Confirm Password</label>
                            <p  class="text-danger"></p>
                        </div>
                            <!-- MESSAGE D'ERREUR CONFIRM PASSWORD -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.confPwd">
                              <p class="text-danger" *ngIf="registerForm.controls['confPwd'].hasError(error.type) && (registerForm.controls['confPwd'].dirty || registerForm.controls['confPwd'].touched)">
                                  {{error.message}}
                              </p>
                          </small>

                    </div>

                          <div class="mt-3 d-grid gap-2">
                              <button   class="btn btn-primary w-lg waves-effect waves-light" type="submit">M'inscrire</button>
                          </div>

                      </form>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

