<!----- header ------>

<div class="header position-relative overflow-hidden p-md-4 text-center bg" >
  <div class="container col-xxl-11 px- p-">
    <div class="header-text col-md-7  mx-auto "> 
      <h1 class="display-6 fw-normal" style="color: #fff; font-size: 23px;" ><b>ThéBio</b></h1>
      <h1 class="lead fw-normal" style="color: #fff; font-size: 25px;"><b>Dégustez l'excellence naturelle</b></h1>
      <a class="btn-primary btn" routerLink="/connexion" type="button">Nous rejoindre</a>
    </div>
  </div>
</div>

<!----- Fin du header ------>
