<!----- header ------>

<div class="position-relative overflow-hidden p-md-5 text-center bg" >
  <div class="container col-xxl-11">
    <div class="col-md-7 p-lg-5 mx-auto m">
      <!-- <h1 class="display-6 fw-normal " style="color: #fff; font-size: 23px;" ><b>ThéBio <br/> Dégustez l'excellence naturelle</b></h1><br/> -->
      <!-- <h2 class="lead fw-normal " style="color: #fff; font-size: 25px;"><b>Dégustez l'excellence naturelle</b></h2> -->
      <!-- <h2 class="display-6 fw-normal" style="color: #fff; font-size: 23px;" ><b>DU 14/12/2023 AU 31/12/2023</b></h2> -->
  </div>
    <div class="col-md-7 p-lg-5 mx-auto m-5"><br/><br/><br/><br/><br/><br/> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <h1 class="lead fw-normal" style="color: #fff; font-size: 20px; background-color: blue;"><b>DU 14/12/2023 AU 31/12/2023 <br/> VENEZ PARTICIPER AU JEU CONCOURS <br/> ET TENTER DE GAGNER UN LOT</b></h1>

    <a class="btn-primary btn" routerLink="/connexion" type="button">Venez jouer</a>
  </div>
  
</div>
</div>

<!----- Fin du header ------>
