<!----- header ------>

<div class="position-relative overflow-hidden p-md-5 m- text-center bg" >
  <div class="container col-xxl-11 px-5 p-5">
  <div class="col-md-7 p-lg-5 mx-auto m-5"> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h1 class="display-6 fw-normal" style="color: #fff; font-size: 30px;" ><b>THEBIO</b></h1>
    <h1 class="lead fw-normal" style="color: #fff; font-size: 30px;"><b>Dégustez l'excellence naturelle</b></h1>
    <a class="btn-primary btn" routerLink="/connexion" type="button">Nous rejoindre</a>
</div>
</div>
</div>

<!----- Fin du header ------>
