.bg 
{
    /* background-image: url(/assets/images/img6.jpg);
    background-repeat: no-repeat;
     background-size: cover; 
    height: 750px;
    opacity: 1;
     background-size: cover; */


    /* height: 750px;
    opacity: 1; */
}

header {
    position: relative;
}
header img {
    z-index: 99;
    /* height: 100vh; */
    /* width: 100%; */
}
header .title{
    z-index: 100;
    width: 70%;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 17%;
    margin: auto;
    color: white;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 12px;
     
 }

 header h1 {
    font-size: 3rem;
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5%;
 }
 header   h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5%;
    padding: 12px;
    opacity: 1;
 }
 header .header-btn{
    width: 100%;
    text-align: center;
    margin-top: 12px;
 }


 @media (max-width: 992px) {
    header .title{
        z-index: 100;
        width: 70%;
        height: 160px;
        position: absolute;
        top: 50%;
        left: 17%;
        margin: auto;
        color: white;
        /* border: 1px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
     }
    header h1 {
        font-size: 2rem;
        margin-bottom: 2%;
     }
     header   h2 {
        margin-bottom: 3%;
     }
  }
  
  @media (max-width: 780px) {
   header h2 {
      font-size: 1rem;
   }
  }

@media (max-width: 560px) {  
        
     header img{
        display: none;
     }
     header .title{
        z-index: 0;
        width: 100%;
        height: 160px;
        position:static;
        top: 50%;
        right: 30%;
        margin: auto;
        margin-bottom: 8%;
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        /* background-color: white; */
        background-color: rgba(0, 0, 0, 0.49);
     }
     header h1, h2 {
        color: rgb(255, 255, 255);
        font-weight: 300;
     }
     header h1{
        font-size: 1.5rem;
     }
     header h2 {
        font-size: 1rem;
     }
     header .header-btn{
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
   }
}
  
  
/*background-image: url(/assets/images/i2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 655px;
    opacity: 0.8; 
 
 .header {
    height: 100vh;
    background-image: url(/assets/images/h1.jpg);
    background-size: cover; 
    position: relative;
}
*/


