ul 
{
    list-style: none;
}
.icons img{
  height: 30px;
  width: 30px;
}

 
.pied-page {
  display: flex;
  border: 1px solid rde;
  width: 100%;
  height: 60px;
  position: relative;
}

.pied-page .form{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 10px;
  top: -5px;
  padding-right: 5px;
}

.pied-page .form button{
   padding: 5px;
   background-color: black;
   color: white;
   border: none;
   height: 30px;
   width: 80px;
   cursor: pointer;
}
.pied-page .form input{
  color: rgba(0, 0, 0, 0.849);
  height: 30px;
  width: 160px;
  border: 1px solid gray;
}
.pied-page .form ::placeholder {
  margin-left: 15px;
}

@media (max-width: 560px) {  
  
  .pied-page {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rde;
    width: 100%;
    height: 60px;
    position: relative;
  }

  .socio{
    margin-left: 20%;
  }

  .pied-page .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: -5px;
    padding-right: 5px;
    width: 100%;
  }

  .pied-page .form{
    display: flex;
    flex-wrap: wrap;
    position: static;
    right: 0px;
    top: -5px;
    padding-right: 5px;
  }
  
}