<nav class="navbar navbar-expand-sm navbar-default">
  <div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="index.html" routerLink="/dashboard/home"><i class="menu-icon fa fa-laptop"></i>Dashboard
        </a>
      </li>
      <li class="menu-title">Admin</li>
      <!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="menu-icon fa fa-cogs"></i>Utilisateurs</a
        >
        <ul class="sub-menu children dropdown-menu">
          <li>
            <i class="fa fa-puzzle-piece"></i
            ><a href="/" routerLink="/dashboard/employe/all">Employes</a>
          </li>
          <li>
            <i class="fa fa-id-badge"></i
            ><a href="/" routerLink="/dashboard/client/all">Clients</a>
          </li>
        </ul>
      </li>
      
      <li class="">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="/dashboard/jeux/all"
        >
          <i class="menu-icon fa fa-table"></i>Jeux</a
        >
      </li> 

      <!-- <li class="menu-title">Visualisation</li> -->
      <!-- /.menu-title -->
      <li>
        <a href="widgets.html">
          <i class="menu-icon ti-email" routerLink="/dashboard/statistic"></i>Statistics
        </a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>