<div class="dashboard">
    <div class="sidebar" [ngClass]="{'toggle-sidebar': toggle}">
        <app-dashboard-sidebar></app-dashboard-sidebar>
    </div>



    <div class="main-content" [ngClass]="{'toggle-main-content': toggle}">
        <header>
            <div class="menu-toggle">
                <label for="sidebar-toggle">
                    <span class="la la-bars" (click)="onBars($event)"></span>
                </label>
            </div>
            <div class="header-icones">
                <span class="las la-search"></span>
                <span class="las la-bookmark"></span>
                <span class="las la-sms"></span>
            </div>
        </header>
    
    
        <main>
            <div class="contenu-header">
                <div>
                    <h1>Analytics Dashboard</h1>
                    <small>Monitor key metrics. check reporting an review</small>
                </div>
    
                
            </div>
    
            <div class="cards">
                 
                 
            </div>
        </main>
    </div>
</div>