<app-navbar></app-navbar>
<app-header></app-header>

<!--- Body -->

  <div class="container col-xxl-11 px-5 p-5">
  
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p  style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

          <div class="row g-4 py-4 row-cols-3 row-cols-lg-4">
          <div class="feature col">
            <img class="img-fluid" src="assets/images/img1.png" alt="">
          </div>
          <div class="feature col">
            <img class="img-fluid" src="assets/images/img1.png" alt="">
          </div>
          <div class="feature col">
            <img class="img-fluid" src="assets/images/img1.png" alt="">
          </div>
          </div>

          <div class="row g-4 row-cols-3 row-cols-lg-4 ">
            <div class="feature col">
              <img class="img-fluid" src="assets/images/img1.png" alt="">
            </div>
            <div class="feature col">
              <img class="img-fluid" src="assets/images/img1.png" alt="">
            </div>
            <div class="feature col">
              <img class="img-fluid" src="assets/images/img1.png" alt="">
            </div>
            </div>
      </div>

      <div class="col-md-5 py-3 justify-content-md-center">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/img1.png" alt="">
          <div class="d-flex justify-content-between align-items-center border border-1 border-dark">
            <p class=" p-3" style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  
</div>



<div style="background-color: rgba(210, 210, 210, 0.945)">
  <div class="container col-xxl-11 p-5">

    <!-- <div class="row align-items-center g-5 py-5 ">
      <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class=" col-lg-6">
        <img class="img-fluid" src="assets/images/img1.png" alt="">
        </div>
    </div> -->

    <div class="row featurette">
      <div class="col-md-6 ">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/images/img1.png" alt="">
  
      </div>
    </div>

  </div>
  </div>


  <div class="container col-xxl-11 p-2">

    <!-- <div class="row align-items-center g-5 py-5">
      <div class="col-md-6">
        <img class="img-fluid" src="assets/images/img1.png" alt="">
      </div>
      <div class=" col-lg-6">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div> -->

    <div class="row featurette py-5">
      <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="assets/images/img1.png" alt="">
      </div>
    </div>



  </div>


  <div style="background-color: rgba(210, 210, 210, 0.945)">
    <div class="container col-xxl-11">

      <!-- <div class="row align-items-center g-5 py-5">
        <div class="col-md-8">
          <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
          <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class=" col-lg-4">
          <form class="d-flex">
            <a class="btn btn-primary me-4" type="submit" routerLink="/jeux">Commencer</a>
            <a class="btn btn-outline-primary me-5  " type="submit" routerLink="/contact">Contact-nous</a>
            </form>
          </div>
      </div> -->

      <div class="row featurette py-5">
        <div class="col-md-8">
          <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-4 p-4">
          
            <a class="btn btn-primary me-2 m-1" type="submit" routerLink="/jeux">Commencer</a>
            <a class="btn btn-outline-primary my-1" type="submit" routerLink="/contact">Contact-nous</a>
              
        </div>
      </div>

    </div>
    </div>


    <div class="container col-xxl-11 px-5 p-5">
  
      <div class="row featurette">
          <div class="col-md-5">
            <div class="row row-cols-3">
              <div class="col-lg-4 row-cols-1">
               
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
                
              </div>
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
                
              </div>
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
              </div>
            </div> <br/><br/> <br/>
            <div class="row row-cols-3">
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
                
              </div>
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
                
              </div>
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
              </div>
            </div> <br/><br/> <br/>
            <div class="row row-cols-3">
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
                
              </div>
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
                
              </div>
              <div class="col-lg-4 row-cols-1">
                <img src="https://github.com/twbs.png" alt="twbs" width="140" height="140" class="rounded-circle flex-shrink-0">
              </div>
            </div>
          </div>
    
          <div class="col-md-7 px-5 justify-content-md-center"> <br/><br/> <br/><br/>
           
              <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
              <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p> <br/>

                <div class="list-group w-auto">
                  <div class=" d-flex gap-3 py-3">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-1">
                   
                      <div>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                      </div>
                  
                </div>
                <div class=" d-flex gap-3 py-3">
                  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                 
                    <div>
                      <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                    </div>
                
              </div>
              <div class=" d-flex gap-3 py-3">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
               
                  <div>
                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                  </div>
              
            </div>
                </div>
              
          </div>
        </div>
      
    </div>

    <!--- Fin de Body -->

    <app-footer></app-footer>




















    