<app-navbar></app-navbar>
<app-header></app-header>

<!--- Body -->

<div class="container col-xxl-11 px-5 p-5">
  
  <div class="row featurette">
    
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos saveurs authentiques</b></h2> <br/>
        <p  style="font: 15px Roboto, sans-serif; color: 2B2B2B;">Nous vous invitons à découvrir notre sélection de thés verts, noirs etc. 
          Impossible de ne pas trouver son bonheur parmi nos délicieuses recettes de thés créées en Provence.</p>

          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded me-2" alt="...">
              <strong class="me-auto">Bootstrap</strong>
              <small>11 mins ago</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Hello, world! This is a toast message.
            </div>
          </div>
          
          <div class="row g-4 py-4 row-cols-3 row-cols-lg-4">
          <div class="feature col">
            <img class="img-fluid" src="assets/images/img5.jpg" alt="">
          </div>
          <div class="feature col">
            <img class="img-fluid" src="assets/images/img2.jpg" alt="">
          </div>
          <div class="feature col">
            <img class="img-fluid" src="assets/images/img4.jpg " alt="">
          </div>
          </div>

          <div class="row g-4 row-cols-3 row-cols-lg-4 ">
            <div class="feature col">
              <img class="img-fluid" src="assets/images/img1.jpg" alt="">
            </div>
            <div class="feature col">
              <img class="img-fluid" src="assets/images/img3.jpg" alt="">
            </div>
            <div class="feature col">
              <img class="img-fluid" src="assets/images/img71.jpg" alt="">
            </div>
            </div>
      </div>

      <div class="col-md-5 py-3 justify-content-md-center">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/img4.jpg" alt="" >
          <div class="d-flex justify-content-between align-items-center border border-1">
            <p class=" p-3" style="font: 15px Roboto, sans-serif; color: 2B2B2B;">Nous pensons que même à une époque de rationalisation et de pressions concurrentielles croissantes, les gens doivent toujours passer en premier.
            100% de nos thé sont récoltés dans des conditions durables et équitables. Nos thés bio sont issus de l'agriculture biologique. Cela abandonne 
            complètement l'utilisation d'engrais chimiques et de pesticides  ainsi que de matières premières génétiquement modifiées, créant des produits naturels qui procurent un plaisir sain et authentique.</p>
          </div>
        </div>
      </div>
    </div>
  
</div>



<div style="background-color: rgba(210, 210, 210, 0.945)">
  <div class="container col-xxl-11 p-5">

    <!-- <div class="row align-items-center g-5 py-5 ">
      <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class=" col-lg-6">
        <img class="img-fluid" src="assets/images/img1.png" alt="">
        </div>
    </div> -->

    <div class="row featurette">
      <div class="col-md-6 "><br/><br/><br/><br/>
        <h2 class="featurette-heading fw-normal lh-1"><b><b style="color: green;">TheTipTop</b> s’engage avec le BIO</b></h2> <br/>
        <p style="font: 15px Roboto, sans-serif; color: 2B2B2B;">Le thé BIO, c'est avant tout un  thé délicieux. Un thé santé, composé d'ingrédients de 
          qualité, constitue une recette santé et un moment amusant à partager ! Nos recettes, qu'elles soient biologiques ou non, sont soumises à des tests réguliers et 
          chaque produit mis sur le marché est tracé pour vous garantir des ingrédients  et une saveur sains. Vous êtes en toute  confiance.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/images/img8.webp" alt="">
  
      </div>
    </div>

  </div>
  </div>


  <div class="container col-xxl-11 p-2">

    <!-- <div class="row align-items-center g-5 py-5">
      <div class="col-md-6">
        <img class="img-fluid" src="assets/images/img1.png" alt="">
      </div>
      <div class=" col-lg-6">
        <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
        <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div> -->

    <div class="row featurette py-5">
      <div class="col-md-6 order-md-2"> <br/><br/><br/><br/>
        <h2 class="featurette-heading fw-normal lh-1"><b>Bio, oui, mais aussi savoureux !</b></h2> <br/>
        <p style="font: 15px Roboto, sans-serif; color: 2B2B2B;">Mais parlons maintenant de gourmandise ! Nous vous proposons  différentes recettes BIO. Thé vert, thé noir, thé rooïbos et infusions,  
          de nombreuses recettes ainsi que des façons de changer de plaisir. Même certaines infusions pour enfants sont bio. Les fans d'Earl Grey découvrent
          notre merveilleux thé noir Earl Grey BIO au délicat parfum d'agrumes, idéal pour se réveiller plein d'énergie. Pour un après-midi apaisant, 
          choisissez notre élégante Fleur de Jasmin Bio, un thé vert bio au goût délicat des mille et une nuits. Et  le soir, notre Rooibos de Noël Bio 
          aux épices réconfortantes.</p>
      </div>
      <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="assets/images/img9.webp" alt="">
      </div>
    </div>



  </div>


  <div style="background-color: rgba(210, 210, 210, 0.945)">
    <div class="container col-xxl-11">

      <!-- <div class="row align-items-center g-5 py-5">
        <div class="col-md-8">
          <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thé</b></h2>
          <p style="font: 21px Roboto, sans-serif; color: 2B2B2B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class=" col-lg-4">
          <form class="d-flex">
            <a class="btn btn-primary me-4" type="submit" routerLink="/jeux">Commencer</a>
            <a class="btn btn-outline-primary me-5  " type="submit" routerLink="/contact">Contact-nous</a>
            </form>
          </div>
      </div> -->

      <div class="row featurette py-5">
        <div class="col-md-8">
          <p style="font: 26px Roboto, sans-serif; color: 2B2B2B;">Participez à notre Jeu Concours Exclusif et remportez 
            des thés bio de qualité pour célébrer le lancement de notre activité à Nice !</p>
        </div>
        <div class="col-md-4 p-4">
          
            <a class="btn btn-primary me-2 m-1" type="submit" routerLink="/jeux">Commencer</a>
            <a class="btn btn-outline-primary my-1" type="submit" routerLink="/contact">Contact-nous</a>
              
        </div>
      </div>

    </div>
    </div>


    <div class="container col-xxl-11 px-5 p-5">
  
      <div class="row featurette">
          <div class="col-md-5">
            <img class="img-fluid" src="assets/images/img.jpg" alt="">
          </div>
    
          <div class="col-md-7 px-5 justify-content-md-center"> <br/><br/>
           
              <h2 class="featurette-heading fw-normal lh-1"><b>Nos types de Thés</b></h2><br/>
              <p style="font: 15px Roboto, sans-serif; color: 2B2B2B;">Une fois tous les contrôles effectués selon les règles techniques et toutes les 
                précautions prises, on se concentre sur les recettes de thé bio incontournables et délicieuses !</p>

                <div class="list-group w-auto">
                  <div class=" d-flex gap-3 py-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                   
                      <div>
                        <p class="mb-0 opacity-75">Le thé vert est un thé non oxydé contrairement aux autres types de thés.</p>
                      </div>
                  
                </div>
                <div class=" d-flex gap-3 py-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                 
                    <div>
                      <p class="mb-0 opacity-75">Le thé noir est plus doux et moins amer que le thé vert ses saveurs sont riches et intenses.  </p>
                    </div>
                
              </div>
              <div class=" d-flex gap-3 py-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
               
                  <div>
                    <p class="mb-0 opacity-75">Thé wulong se place à mi-chemin entre thé vert et thé noir ayant un taux faible en théine.</p>
                  </div>
              
            </div>
                </div>
              
          </div>
        </div>
      
    </div>

    <!--- Fin de Body -->

    <app-footer></app-footer>




















    