<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <p>Bonjour {{ user.prenom }} <br> 
    Vous avez oublié votre mot de passe sur le site thetiptop. 
    Veillez cliquer sur le lien suivant afin de définir un nouveau mot de passe : <br>
    {{ lien }}  </p>
</body>
</html>
