<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
    <p>Bonjour {{ user.prenom }} <br> 
    Vous venez de créer un compte sur le site thetiptop. 
    Veillez cliquer sur le lien suivant afin de vérifier votre adresse email : <br>
    {{ lien }}  </p>
</body>
</html>
