<div class="col-lg-3 col-md-6">
  <aside class="profile-nav alt">
      <section class="card">
          <div class="card-header user-header alt bg-dark">
              <div class="media">
                  <a href="#">
                      <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="/assets/images/avatar/1.jpg">
                  </a>
                  <div class="media-body">
                      <h2 class="text-light display-6">Issa BARRY</h2>
                      <p>55 Rue de la Goutte D'or</p>
                      <p>75018 Paris</p>
                  </div>
              </div>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a > <i class="fa fa-envelope-o"></i> issabarry67@gmail.com </a>
              </li>
              <li class="list-group-item">
                  <a> <i class="fa fa-tasks"></i> 07 58 85 69 32 </a>
              </li>
              <li class="list-group-item">
                  <a href="#"> <i class="fa fa-bell-o"></i> Notification <span class="badge badge-danger pull-right">11</span></a>
              </li>
          </ul>
      </section>
  </aside>
</div>
