<div class="produit-card p-4">
    <div class="produit-card-header d-flex justify-content-between">
        <h3>Les produits à gagné</h3>
        <h3>Quantité</h3>
    </div>
    <hr/>
    <ul>
        <li class="produit-content">
            <div class="left pl-4 d-flex"> 
                <span class="list-name " style="background-color: #00c292; color: #fafcfc;">1</span>
                 <p class="pt-2 ms-3">Détox</p>
            </div>
            <div class="right pt-2">
                 <small>785</small>
            </div>
         </li>

         <li class="produit-content  mt-4">
            <div class="left pl-4 d-flex"> 
                <span class="list-name " style="background-color: #6739e6d7; color: #d2caf1;">2</span>
                 <p class="pt-2 ms-3">Infusion</p>
            </div>
            <div class="right pt-2">
                 <small>785</small>
            </div>
         </li>

         <li class="produit-content  mt-4">
            <div class="left pl-4 d-flex"> 
                <span class="list-name " style="background-color: #fae898d7; color: #aa8e10;">3</span>
                 <p class="pt-2 ms-3">Signature</p>
            </div>
            <div class="right pt-2">
                 <small class=" "><small>785</small></small>
            </div>
         </li>

         <li class="produit-content  mt-4">
            <div class="left pl-4 d-flex"> 
                <span class="list-name " style="background-color: #bfc4c1d7; color: #757575;">4</span>
                 <p class="pt-2 ms-3">Thé Blanc</p>
            </div>
            <div class="right pt-2">
                 <small>785</small>
            </div>
         </li>

         <li class="produit-content  mt-4">
            <div class="left pl-4 d-flex"> 
                <span class="list-name " style="background-color: #fac498d7; color: #f88120;">5</span>
                 <p class="pt-2 ms-3">Thé Légume</p>
            </div>
            <div class="right pt-2">
                <small>785</small>
            </div>
         </li>
    </ul>
</div>

 
 
 