<div class="dashboard">
    <input type="checkbox" id="scales" name="scales"  id="sidebar-toggle"/>

<div class="sidebar" [ngClass]="{'toggle-sidebar': toggle}">
    <div class="sidebar-brand">
        <div class="brand-flex">
            <img src="assets/images/logos/favicon.png" width="40px" alt="">
            <div class="brand-icons">
                <!-- <span class="las la-bell" (click)="onBars($event)"></span> -->
                <span class="las la-times close" (click)="onBars($event)"></span>
            </div>
        </div>
    </div>

    <div class="sidebar-main">
       <div class="sidebar-user">
        <img src="assets/images/profile/user-1.jpg" width="30px" alt="">
        <div>
            <h3>Issa BARRY</h3>
            <span>issa@gmail.com</span>
        </div>
       </div>
       
       <div class="sidebar-menu">
        <div class="menu-block">
            <div class="menu-head">
                <span>Dashboard</span>
            </div>
            <ul>
                <li>
                    <a href="">
                        <span class="las la-balance-scale"></span>
                        Utilisateurs
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-bug"></span>
                        Tickets
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-code"></span>
                        Jeux
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/">
                        <span class="las la-code"></span>
                        Home
                    </a>
                </li>
                 
            </ul>
        </div>
       </div>
    </div>
</div>

<div class="main-content" [ngClass]="{'toggle-main-content': toggle}">
    <header>
        <div class="menu-toggle">
            <label for="sidebar-toggle">
                <span class="la la-bars" (click)="onBars($event)"></span>
            </label>
        </div>
        <div class="header-icones">
            <span class="las la-search"></span>
            <span class="las la-bookmark"></span>
            <span class="las la-sms"></span>
        </div>

    </header>
    <main>
        <div class="page-header">
            <div>
                <h1>Analytics Dashboard</h1>
                <small>Monitor key metrics. check reporting an review</small>
            </div>

            <div class="header-actions">
                <button>
                    <span class="las la-file-export">Export</span>
                </button>
                <button>
                    <span class="las la-file-export">Setting</span>
                </button>
            </div>
        </div>

        <div class="cards">
            <div class="card-single">
                <div class="card-flex">
                    <div class="card-info">
                       <div class="card-head">
                        <span>Purchasses</span>
                        <small>Number of purchasses</small>
                       </div>
                       <h2>175</h2>
                       <small>20% de ventes</small>
                    </div>
                    <div class="card-chart sucess">
                        <span class="la la-chart-line"></span>
                    </div>
                </div>
            </div> 

            <div class="card-single">
                <div class="card-flex">
                    <div class="card-info">
                       <div class="card-head">
                        <span>Participants</span>
                        <small>Number of purchasses</small>
                       </div>
                       <h2>175</h2>
                       <small>20% de ventes</small>
                    </div>
                    <div class="card-chart danger">
                        <span class="la la-chart-line"></span>
                    </div>
                </div>
            </div>
        

         
            <div class="card-single">
                <div class="card-flex">
                    <div class="card-info">
                       <div class="card-head">
                        <span>Utilisateurs</span>
                        <small>Numbre d'inscrits</small>
                       </div>
                       <h2>876</h2>
                       <small>20% de ventes</small>
                    </div>
                    <div class="card-chart yellow">
                        <span class="la la-chart-line"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="jobs-grid">
            <div class="analytics-card">
                <div class="analytics-head">
                    <h2>Action needed</h2>
                    <span class="las la-ellipsis-h"></span>
                </div>
                <div class="analytics-chart">
                    <div class="chart-circle">
                        <h1>74%</h1>
                        <div class="analytics-note">
                            <small>La gestion du jeux est en cours</small>
                        </div>
                    </div>
                </div>
                <div class="analytics-btn">
                    <button>Generer rapport</button>
                </div>
            </div>
            <div class="jobs">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="indicator"></span>
                            </td>
                            <td>Tickets dans la cagnote</td>
                            <td>Perdants</td>
                            <td>Gaghant</td>
                            <td><button>8 application</button></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="indicator"></span>
                            </td>
                            <td>Tickets dans la cagnote</td>
                            <td>Perdants</td>
                            <td>Gaghant</td>
                            <td><button>8 application</button></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="indicator"></span>
                            </td>
                            <td>Tickets dans la cagnote</td>
                            <td>Perdants</td>
                            <td>Gaghant</td>
                            <td><button>8 application</button></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="indicator"></span>
                            </td>
                            <td>Tickets dans la cagnote</td>
                            <td>Perdants</td>
                            <td>Gaghant</td>
                            <td><button>8 application</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</div>