<div class="dashboard" [ngClass]="{ open: open, block: openMenuSmall }">
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel" [ngClass]="{ 'open-menu': openMenu, 'small-device': smallDevise }">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </aside>
    <!-- /#left-panel -->
  
  
  
  
  
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <header id="header" class="header">
        <div class="top-left">
          <div class="navbar-header">
            <a class="navbar-brand" href="./"
              ><img src="assets/images/logos/logo1.png" alt="Logo"
            /></a>
            <a class="navbar-brand hidden" href="./"
              ><img src="assets/images/logos/logo2.png" alt="Logo"
            /></a>
            <a id="menuToggle" class="menutoggle"
              ><i class="fa fa-bars" (click)="onMenu($event)"></i
            ></a>
          </div>
        </div>
        <div class="top-right">
          <div class="header-menu">
            <div class="header-left">
              <button class="search-trigger"><i class="fa fa-search"></i></button>
              <div class="form-inline">
                <form class="search-form">
                  <input class="form-control mr-sm-2"
                    type="text"
                    placeholder="Search ..."
                    aria-label="Search"
                  />
                  <button class="search-close" type="submit">
                    <i class="fa fa-close"></i>
                  </button>
                </form>
              </div>
  
              <div class="dropdown for-notification">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="notification"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell"></i>
                  <span class="count bg-danger">3</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="notification">
                  <p class="red">You have 3 Notification</p>
                  <a class="dropdown-item media" href="#">
                    <i class="fa fa-info"></i>
                    <p>Server #2 overloaded.</p>
                  </a>
                </div>
              </div>
            </div>
  
            <div class="user-area dropdown float-right">
              <a
                href="#"
                class="dropdown-toggle active"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="user-avatar rounded-circle"
                  src="assets/images/admin.jpg"
                  alt="User Avatar"
                />
              </a>
  
              <div class="user-menu dropdown-menu">
                <a class="nav-link" href="#"
                  ><i class="fa fa- user"></i>Mon profil</a
                >
                <a class="nav-link" href="#" 
                (click)="logout($event)"
                  ><i class="fa fa-power -off"></i>Deconnexion</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- /#header -->    


        <!-- Content -->
    <div class="content">
      <!-- Animated -->
      <div class="animated fadeIn">
        
         <app-mini-menu [title]="titleMenu" [titleLink1]="titleLink1" [titleLink2]="titleLink1"></app-mini-menu>

         <app-dhb-card-stat-jeux></app-dhb-card-stat-jeux>  
        <div class="clearfix"></div>

  
      </div><!-- .animated -->
    </div> <!-- /.content -->
    <div class="clearfix"></div>

      <!-- Footer -->
       <app-dashboard-footer></app-dashboard-footer>
      <!-- /.site-footer -->
  
    </div>
    <!-- /#right-panel -->
  </div>
  
  
  