<div class="orders">
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">Derniers inscrit</h4>
          </div>
          <div class="card-body--">
            <div class="table-stats order-table ov-h">
              <table class="table">
                <thead>
                  <tr>
                    <th class="serial">#</th>
                    <th class="avatar">Avatar</th>
                    <th>Name</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="serial">1.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <a href="#"
                          ><img
                            class="rounded-circle"
                            src="assets/images/avatar/1.jpg"
                            alt="avatar"
                        /></a>
                      </div>
                    </td>
              
                    <td><span class="name">Louis Stanley</span></td>
                    <td><span class="product">iMax</span></td>
                    <td><span class="count">01 45 87 96 32</span></td>
                    <td>
                      <span class="badge badge-complete">Complete</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="serial">2.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <a href="#"
                          ><img
                            class="rounded-circle"
                            src="assets/images/avatar/2.jpg"
                            alt="avatar"
                        /></a>
                      </div>
                    </td>
          
                    <td><span class="name">Gregory Dixon</span></td>
                    <td><span class="product">iPad</span></td>
                    <td><span class="count">07 87 45 96 78</span></td>
                    <td>
                      <span class="badge badge-complete">Complete</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="serial">3.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <a href="#"
                          ><img
                            class="rounded-circle"
                            src="assets/images/avatar/3.jpg"
                            alt="avatar"
                        /></a>
                      </div>
                    </td>
           
                    <td><span class="name">Catherine Dixon</span></td>
                    <td><span class="product">SSD</span></td>
                    <td><span class="count">06 87 99 45 14</span></td>
                    <td>
                      <span class="badge badge-complete">Complete</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="serial">4.</td>
                    <td class="avatar">
                      <div class="round-img">
                        <a href="#"
                          ><img
                            class="rounded-circle"
                            src="assets/images/avatar/4.jpg"
                            alt="avatar"
                        /></a>
                      </div>
                    </td>
                   
                    <td><span class="name">Mary Silva</span></td>
                    <td><span class="product">Magic Mouse</span></td>
                    <td><span class="count">06 78 54 21 56</span></td>
                    <td>
                      <span class="badge badge-pending">Pending</span>
                    </td>
                  </tr>
                  <tr class="pb-0">
                    <td class="serial">5.</td>
                    <td class="avatar pb-0">
                      <div class="round-img">
                        <a href="#"
                          ><img
                            class="rounded-circle"
                            src="assets/images/avatar/6.jpg"
                            alt="avatar"
                        /></a>
                      </div>
                    </td>
                   
                    <td><span class="name">Johnny Stephens</span></td>
                    <td><span class="product">Monitor</span></td>
                    <td><span class="count">07 58 85 69 87</span></td>
                    <td>
                      <span class="badge badge-complete">Complete</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-stats -->
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->

      <div class="col-xl-4">
        <div class="row">
          <div class="col-lg-6 col-xl-12">
            <div class="card br-0">
              <div class="card-body">
                <div class="chart-container ov-h">
                  <canvas id="flotPie1" class="float-chart"></canvas>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <div class="col-lg-6 col-xl-12">
            <div class="card bg-flat-color-3">
              <div class="card-body">
                <h4 class="card-title m-0 white-color">August 2018</h4>
              </div>
              <div class="card-body">
                <canvas id="flotLine5" class="flot-line"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
  </div>