<app-navbar></app-navbar>

<div class="body">
<div class="container col-xxl-11">
<div>
          
  <a class="mx-4" type="submit" routerLink="/jeux">Accueil</a>
  /
  <a class="my-4" type="submit" routerLink="/apropos">A propos</a>
    
</div>
</div>

<br/>
<div class="container col-xxl-11 px-5 p- text-center">

    <h1>À Propos de TheTipTop</h1> <br/>
    <p>
      Bienvenue chez <strong>TheTipTop</strong>. Notre objectif est de propose des thés de très haute qualité à partir des mélanges signature de l'entreprise. <br/>
      <strong>TheTipTop</strong> fournir aussi une expérience utilisateur exceptionnelle tout en mettant en place une tambola.
    </p> <br/>
  
    <h3>Notre Mission</h3> <br/>
    <p>
      Notre mission est d'attirer l'attention de nouveaux clients sur nos produits. Pour cela, TheTipTop souhaite 
      organiser une tombola, visant à mettre en avant l'attractivité de son domaine d'activité et à promouvoir 
      l'identité de l'entreprise.
    </p> <br/>
  
    <h3>Nos Caractéristiques</h3><br/>
    <ul>
      <li>Interface utilisateur intuitive</li>
      <li>Fonctionnalités avancées pour répondre à vos besoins</li>
      <li>Performance optimisée pour une utilisation rapide</li>
      <li>Assistance clientèle exceptionnelle</li>
    </ul> <br/>
  
    <h3>Contactez-Nous</h3> <br/>
    <p>
      Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.
    </p>
    <p>
      <a class="btn btn-outline-primary my-1" type="submit" routerLink="/contact">Contact-nous</a>
    </p> <br/>

  </div>
</div> 
  <app-footer></app-footer>
  

