<div class="dashboard" [ngClass]="{ open: open, block: openMenuSmall }">
    <!-- Left Panel -->
    <aside
      id="left-panel"
      class="left-panel"
      [ngClass]="{ 'open-menu': openMenu, 'small-device': smallDevise }"
     >
     <app-dashboard-sidebar></app-dashboard-sidebar>
    </aside>
    <!-- /#left-panel -->
  
  
  
  
  
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <header id="header" class="header">
        <div class="top-left">
          <div class="navbar-header">
            <a class="navbar-brand" href="./"
              ><img src="assets/images/logos/logo1.png" alt="Logo"
            /></a>
            <a class="navbar-brand hidden" href="./"
              ><img src="assets/images/logo2.png" alt="Logo"
            /></a>
            <a id="menuToggle" class="menutoggle"
              ><i class="fa fa-bars" (click)="onMenu($event)"></i
            ></a>
          </div>
        </div>
        <div class="top-right">
          <div class="header-menu">
             <div class="header-left">
           <!--      <button class="search-trigger"><i class="fa fa-search"></i></button>
              <div class="form-inline">
                <form class="search-form">
                  <input
                    class="form-control mr-sm-2"
                    type="text"
                    placeholder="Search ..."
                    aria-label="Search"
                  />
                  <button class="search-close" type="submit">
                    <i class="fa fa-close"></i>
                  </button>
                </form>
              </div> -->
<!--   
              <div class="dropdown for-notification">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="notification"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell"></i>
                  <span class="count bg-danger">3</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="notification">
                  <p class="red">You have 3 Notification</p>
                  <a class="dropdown-item media" href="#">
                    <i class="fa fa-info"></i>
                    <p>Server #2 overloaded.</p>
                  </a>
                </div>
              </div> -->
            </div>
  
            <div class="user-area dropdown float-right">
              <a
                href="#"
                class="dropdown-toggle active"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="user-avatar rounded-circle"
                  src="assets/images/admin.jpg"
                  alt="User Avatar"
                />
              </a>
  
              <div class="user-menu dropdown-menu">
                <a class="nav-link" href="#"
                  ><i class="fa fa- user"></i>Mon profil</a
                >
                <a class="nav-link" href="#" 
                (click)="logout($event)"
                  ><i class="fa fa-power -off"></i>Deconnexion</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- /#header -->

   
      <!-- Content -->
      <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
          <app-mini-menu [title]="titleMenu" 
          [titleList]="titleList"
          [linkList]="linkList"
          [titleAdd]="titleAdd"
          [linkAdd]="linkAdd" >
         </app-mini-menu>
          
<div class="row align-items-center justify-content-center">
    <div class="col-md-12 col-lg-12">
        <div class="col-xl-12 p-4">
            <div class="card">
                <div class="card-body p-4">
                     
                    <div class="text-center mt-2">
                       
                        <p class="text-muted">Vouslez-vous ajouter un employe?</p>
                    </div>
                    <div class="p-2 mt-4">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
                            <div class="row">
  
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                      <input  type="text" formControlName="nom" name="nom" id="floatingnameInput" class="form-control" placeholder="Nom">
                                      <label for="floatingnameInput">Nom</label>
                                  </div>
                                        <!-- MESSAGE D'ERREUR NOM -->
                              <small class="form-text text-muted" *ngFor="let error of error_messages.nom">
                                <p class="text-danger" *ngIf="registerForm.controls['nom'].hasError(error.type) && (registerForm.controls['nom'].dirty || registerForm.controls['nom'].touched)">
                                    {{error.message}}
                                </p>
                            </small>
                                </div>
  
                                <div class="col-lg-6">
                                  <div class="form-floating mb-3">
                                    <input  type="text" formControlName="prenom" id="floatingnameInputp" name="prenom" uired class="form-control" placeholder="Prenom">
                                    <label for="floatingnameInputp">Prénom</label>
                                </div>
                                   <!-- MESSAGE D'ERREUR PRENOM -->
                              <small class="form-text text-muted" *ngFor="let error of error_messages.prenom">
                                <p class="text-danger" *ngIf="registerForm.controls['prenom'].hasError(error.type) && (registerForm.controls['prenom'].dirty || registerForm.controls['prenom'].touched)">
                                    {{error.message}}
                                </p>
                            </small>
                                </div>
                            </div>
  
                            <div class="mb-3">
                              <div class="form-floating mb-3">
                                  <input  type="email" formControlName="email" id="floatingnameInpute" name="myAddress" required class="form-control" placeholder="Email Address">
                                  <label for="floatingnameInpute">Email Address</label>
                              </div>
                              <!-- MESSAGE D'ERREUR EMAIL -->
                              <small class="form-text text-muted" *ngFor="let error of error_messages.email">
                                <p class="text-danger" *ngIf="registerForm.controls['email'].hasError(error.type) && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                                    {{error.message}}
                                </p>
                            </small>
                          </div>
  
                          <div class="mb-3">
                              <div class="form-floating mb-3">
                                  <input  type="text" formControlName="tel" name="tel" id="floatingnameInputt" required class="form-control" placeholder="Telephone">
                                  <label for="floatingnameInputt">Téléphone</label>
                              </div>
  
                            <!-- MESSAGE D'ERREUR EMAIL -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.tel">
                              <p class="text-danger" *ngIf="registerForm.controls['tel'].hasError(error.type) && (registerForm.controls['tel'].dirty || registerForm.controls['tel'].touched)">
                                  {{error.message}}
                              </p>
                          </small>
                        </div>
  
  
  
                          <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input  type="text" formControlName="adresse" name="adresse" id="floatingnameInputa" required class="form-control" placeholder="Email adresse">
                                <label for="floatingnameInputa">Adresse</label>
                            </div>
                            <!-- MESSAGE D'ERREUR ADRESS -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.adresse">
                              <p class="text-danger" *ngIf="registerForm.controls['adresse'].hasError(error.type) && (registerForm.controls['adresse'].dirty || registerForm.controls['adresse'].touched)">
                                  {{error.message}}
                              </p>
                          </small>
                        </div>
  
                          <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input type="password" formControlName="pwd" id="floatingnameInputpa"  name="pwd" class="form-control" placeholder="Password" #passwordInput>
                                <label for="floatingnameInputpa">Password</label>
  
                                <!-- <span class="bi bi-eye"  >
  
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                      <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                      <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                      <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                    </svg>
  
                              </span>
                              <span class="bi bi-eye-slash" style="display:none"  >
                              
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg> 
                              
                              </span>  -->
  
  
                                <p  class="text-danger"></p>
                            </div>
                            <!-- MESSAGE D'ERREUR Password -->
                            <small class="form-text text-muted" *ngFor="let error of error_messages.pwd">
                              <p class="text-danger" *ngIf="registerForm.controls['pwd'].hasError(error.type) && (registerForm.controls['pwd'].dirty || registerForm.controls['pwd'].touched)">
                                  {{error.message}}
                              </p>
                          </small>
  
                        </div>
  
                        <div class="mb-3">
                          <div class="form-floating mb-3">
                              <input type="password" formControlName="confPwd" id="floatingnameInputcp"  name="confpwd" class="form-control" placeholder="Confirmez password" #ConpasswordInput>
                              <label for="floatingnameInputcp">Confirm Password</label>
  
                              <!-- <span class="bi bi-eye"  >
  
  
  
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                      <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                      <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                      <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                    </svg>
  
                              </span> -->
                              <!-- <span class="bi bi-eye-slash" style="display:none" >
                              
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                              
                              </span> 
   -->
  
                              <p  class="text-danger"></p>
                          </div>
                              <!-- MESSAGE D'ERREUR CONFIRM PASSWORD -->
                              <small class="form-text text-muted" *ngFor="let error of error_messages.confPwd">
                                <p class="text-danger" *ngIf="registerForm.controls['confPwd'].hasError(error.type) && (registerForm.controls['confPwd'].dirty || registerForm.controls['confPwd'].touched)">
                                    {{error.message}}
                                </p>
                            </small>
  
                      </div>
  
                            <div class="mt-3 d-grid gap-2">
                                <button [disabled]="!registerForm.valid"  class="btn btn-primary w-lg waves-effect waves-light" type="submit">Sauvegarder</button>
                            </div>
  
                        </form>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
            
         
        </div><!-- .animated -->
      </div><!-- /.content -->
      <div class="clearfix"></div>
  
      <!-- Footer -->
       <app-dashboard-footer></app-dashboard-footer>
      <!-- /.site-footer -->
  
    </div>
    <!-- /#right-panel -->
  </div>
  
  
  