
<section style="background-color: #eee">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3">{{client.prenom}}  {{client.nom}}</h5>
              <p class="text-muted mb-1">{{client.email}}</p>
              <p class="text-muted mb-1">{{client.tel}}</p>
              <p class="text-muted mb-4">{{client.adresse}}</p>
              <div class="d-flex justify-content-center mb-2 p-2" >
                <button type="button" class="btn btn-warning mr-2" >
                  Gains
                </button>
                <button type="button" class="btn btn-outline-danger ms-2" (click)="onDelete()">
                  Supprimer
                </button>
              </div>
              <span *ngIf="deletMessage" class="text-success">{{deletMessage}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4 p-3 client-edit">

            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-2">
                <div class="col">
                  <div class="form-outline">
                    <input
                      [(ngModel)]="client.prenom"
                      formControlName="prenom"
                      type="text"
                      id="form6Example1"
                      class="form-control"
                    />
                    <label class="form-label" for="form6Example1">Prenom</label>
                  </div>
  
                  <small
                    class="form-text text-muted"
                    *ngFor="let error of error_messages.prenom"
                  >
                    <p
                      class="text-danger"
                      *ngIf="
                        clientForm.controls['prenom'].hasError(error.type) &&
                        (clientForm.controls['prenom'].dirty ||
                          clientForm.controls['prenom'].touched)
                      "
                    >
                      {{ error.message }}
                    </p>
                  </small>
                </div>
  
                <div class="col">
                  <div class="form-outline">
                    <input
                      [(ngModel)]="client.nom"
                      formControlName="nom"
                      type="text"
                      id="form6Example2"
                      class="form-control"
                    />
                    <label class="form-label" for="form6Example2">Nom</label>
                  </div>
                  <small
                    class="form-text text-muted"
                    *ngFor="let error of error_messages.nom"
                  >
                    <p
                      class="text-danger"
                      *ngIf="
                        clientForm.controls['nom'].hasError(error.type) &&
                        (clientForm.controls['nom'].dirty ||
                          clientForm.controls['nom'].touched)
                      "
                    >
                      {{ error.message }}
                    </p>
                  </small>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-2">
                <input
                  [(ngModel)]="client.email"
                  formControlName="email"
                  type="email"
                  id="form6Example5"
                  class="form-control"
                />
                <label class="form-label" for="form6Example5">Email</label>
  
                <small
                  class="form-text text-muted"
                  *ngFor="let error of error_messages.email"
                >
                  <p
                    class="text-danger"
                    *ngIf="
                      clientForm.controls['email'].hasError(error.type) &&
                      (clientForm.controls['email'].dirty ||
                        clientForm.controls['email'].touched)
                    "
                  >
                    {{ error.message }}
                  </p>
                </small>
              </div>
  
              <!-- Tel input -->
              <div class="form-outline mb-2">
                <input
                  [(ngModel)]="client.tel"
                  formControlName="tel"
                  type="text"
                  id="form6Example6"
                  class="form-control"
                />
                <label class="form-label" for="form6Example6">Phone</label>
  
                <small
                  class="form-text text-muted"
                  *ngFor="let error of error_messages.tel"
                >
                  <p
                    class="text-danger"
                    *ngIf="
                      clientForm.controls['tel'].hasError(error.type) &&
                      (clientForm.controls['tel'].dirty ||
                        clientForm.controls['tel'].touched)
                    "
                  >
                    {{ error.message }}
                  </p>
                </small>
              </div>
  
              <!-- Text input -->
              <div class="form-outline mb-2">
                <input
                  [(ngModel)]="client.adresse"
                  formControlName="adresse"
                  type="text"
                  id="form6Example4"
                  class="form-control"
                />
                <label class="form-label" for="form6Example4">Address</label>
  
                <small
                  class="form-text text-muted"
                  *ngFor="let error of error_messages.adresse"
                >
                  <p
                    class="text-danger"
                    *ngIf="
                      clientForm.controls['adresse'].hasError(error.type) &&
                      (clientForm.controls['adresse'].dirty ||
                        clientForm.controls['adresse'].touched)
                    "
                  >
                    {{ error.message }}
                  </p>
                </small>
              </div>
  
              <!-- Submit button -->
              <button
                [disabled]="!clientForm.valid"
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                Sauvegarder
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  