body{
  list-style-type: none;
  text-decoration: none;
}
 .bg 
{
    background-image: url(/assets/images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 655px;
    opacity: 0.8;
} 
