@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,700&display=swap');

::ng-deep .custom-snackbar {
  background-color: blue; /* Couleur de fond du Snackbar */
  color: #fff; /* Couleur du texte */
}

.error.mat-mdc-snack-bar-container {
  text-align: center;
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}
.success.mat-mdc-snack-bar-container {
  text-align: center;
    --mdc-snackbar-container-color: #21f372;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}
.warning.mat-mdc-snack-bar-container {
  text-align: center;
    --mdc-snackbar-container-color: #f38e21;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}
.info.mat-mdc-snack-bar-container {
  text-align: center;
  color: white;
    --mdc-snackbar-container-color: #95c6ee;
    --mat-mdc-snack-bar-button-color: rgb(8, 9, 8);
    --mdc-snackbar-supporting-text-color: #ffffff;
}
.error.mat-snack-bar-container{
  background: #cc0000;
  
  color: white;
}

.success.mat-snack-bar-container{
  background: #00cc00;
  color: white;
}

*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Poppins;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 100%; 
}

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #272727; }

p:focus {
  border: none;
  outline: 0; }

a, button {
  text-decoration: none;
  outline: none !important;
  color: #878787;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

a:hover,
a:focus {
  text-decoration: none;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; 
}

h1 {
  font-size: 2em; 
}

h5 {
  font-size: 1em; 
}

ul,
ol {
  padding-left: 0; }

.btn:focus,
button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0; }

.btn.disabled, .btn:disabled {
  cursor: not-allowed; }

img {
  max-width: 100%; 
}

form small p{
  font-size: 0.8rem;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
/* Fin loading */
.promot{
  z-index: 1;
  position: relative;
  font-family:'Courier New', Courier, monospace
}

.promot .promot-card{
  background-color: #ffff;
  z-index: 2;
  width: 150px;
  height: 160px;
  border-radius: 18%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 22%;
  right: 10%;
}
.promot-header{
  width: 100%;
  justify-content: center;
}
.promot-header h2{
  margin: auto;
  font-size: 0.90rem;
  font-weight: 500;
  color: #000000;
}

.promot-header p{
  margin: auto;
  font-size: 10px;
  font-weight: 700;
  color: #999999;
  margin-top: -8%;
}

.promot-body h3{
  color: #000000;
  font-weight: 900;
  font-size: 14px;
}
.promot-body .text-color{
  color: #FF2626;
  letter-spacing: 0.5px;
  margin-top: -45%;
}

.promot .text h3{
  color: #000000;
  font-weight: 900;
  letter-spacing: 0.90px;
}

.colone-1{
   /* border: 1px solid red; */
   display: grid;
   margin: 0;
   height: 350px;
   overflow: hidden;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 5px;
   grid-template-areas: 
    "c1 c1 c1"
    "c2 c3 c4"
    "c5 c6 c7";
}
.colone-1 img{
  max-height: 100px;
  width: 100%;
}
.colone-1 :nth-child(1){
   grid-area: c1;
}
.colone-1 :nth-child(2){
  grid-area: c2;
}
.colone-1 :nth-child(3){
  grid-area: c3;
}
.colone-1 :nth-child(4){
  grid-area: c4;
}
.colone-1 :nth-child(5){
  grid-area: c5;
}
.colone-1 :nth-child(6){
  grid-area: c6;
}
.colone-1 :nth-child(7){
  grid-area: c7;
}

.table .action{
  display: flex;
  justify-content: space-around;
}

.table .action i{
   height: 40px;
   cursor: pointer;
}

.edit-session{
  background-color: white;
  padding: ;
}

@media (min-width: 992px) {

}
@media (max-width: 780px) {
  
}
@media (max-width: 560px) {
  
}


